.var {
  color: #FF5000;
}


/* ============================================= common style */

body {
  font-family: "Roboto", sans-serif;
  color: rgb(73, 73, 73);
  font-size: 16px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

header,
section,
footer {
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #FF5000;
}

button:active, 
button:focus,
input:active,
input:focus {
  outline: none !important;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0 !important;
}

.wrap {
  max-width: 1480px;
  margin: 0 auto;
  padding: 30px;
}

.title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.trans * {
  transition: 0.2s;
}


/* ============================================= header */
.header {
  margin-bottom: -30px;
}

.wrap_header {
  flex-direction: column;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.header-top__logo {
  width: 127px;
  margin-right: 120px;
}

.header-top__nav {
  display: flex;
  font-size: 14px;
}

.header-top__nav li {
  margin-right: 40px;
}

.header-top__contacts {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.3;
}

.header-bottom {
}

.header-bottom__nav {
  display: flex;
  justify-content: space-between;
}

.header-bottom__nav li a {
  display: block;
  width: 210px;
  padding: 10px 15px;
  text-align: center;
  color: #c4c4c4;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 0px 0px;
}

.header-bottom__nav li a:hover,
.header-bottom__nav .link-active {
  color: #000;
}

/* ================================================ banner */
.banner {
  margin-bottom: 70px;
  overflow: hidden;
}

.banner-slider {
}

.banner-content {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50%;
  height: 100%;
  padding: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-content__title {
  font-size: 36px;
  max-width: 650px;
}

.banner-content__subtitle {
  font-size: 24px;
  max-width: 650px;
}

.banner-content__control {
  font-size: 20px;
  display: flex;
}

.banner-content__control div {
  width: 20px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.banner-content__control div::after {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 40px;
}

.banner-content__control-left {
  margin-right: 30px;
}

.banner-content__control-left::after {
  background: url(./img/arrow/left.png) no-repeat center center;
}

.banner-content__control-right::after {
  background: url(./img/arrow/right.png) no-repeat center center;
}

.banner-content__text {
  max-width: 650px;
  font-size: 20px;
  margin-bottom: 0;
}

/* =================================================== features */
.features {
  display: flex;
  justify-content: center;
  margin: 0 -10px;
}

.features-item {
  max-width: 210px;
  height: 210px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  padding: 5px 15px 20px;
  margin: 10px;
}

.features-item__icon {
  max-width: 130px;
  margin: 0 auto;
}

.features-item__icon img {
  width: 100%;
}

.features-item__text {
  text-align: center;
  font-size: 20px;
}

/* =================================================== type */
.type {
  width: 100%;
  margin-bottom: 50px;
}

.type-item {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.type-item:nth-child(even) {
  flex-direction: row-reverse;
}

.type-item:nth-child(even) .slick-next  {
  left: 0;
}

.protection-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.protection-item:nth-child(even) {
  flex-direction: row;
}

.protection-item:nth-child(odd) .slick-next  {
  left: 0;
}

.protection-item:nth-child(even) .slick-next  {
  left: auto;
}

.type-item__slider {
  max-width: 580px;
  width: 100%; 
}

.type-item__slider img {
  width: 100%;
  height: auto;
}

.type-item__slider .slick-next {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
}

.type-item__slider .slick-next::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 20px;
  height: 40px;
  background: url(./img/arrow/right.png) no-repeat center center;
}

.type-item__text {
  padding: 16px 20px;
}

.type-item__text h3 {

}

.type-item__text p {
  margin-bottom: 0;
}

.type-item__text_black {
  color: black;
  font-weight: 400;
}

.type-item__text a {
  color: #ff5000;
  line-height: 2.5;
}

.download-catalog {
  text-align: center;
}

.download-catalog a {
  padding: 7px 30px;
  border: 1px solid #FF5000;
  border-radius: 20px;
  color: #FF5000;
  margin: 0 auto;
  transition: 0.2s;
}

.download-catalog a:hover {
  color: #fff;
  background-color: #FF5000;
}

/* ==================================================== products */

.products {
  position: relative;
  padding: 0 30px;
}

.products .slick-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 22px;
  border: none;
  background-color: #ffffff00;
}

.products .slick-prev {
  left: 0;
}

.products .slick-next {
  right: 0;
}

.products .slick-prev::after,
.products .slick-next::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -50%;
  left: 0;
  width: 22px;
  height: 40px;
  background: url(./img/arrow/left-dark.png) no-repeat center center;
}

.products .slick-next::after {
  background: url(./img/arrow/right-dark.png) no-repeat center center;
}

.products-item {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  min-height: 230px;
  padding: 20px 10px;
  margin: 10px;
}

.products-item__icon {
  max-width: 115px;
  margin: 0 auto 20px;
}

.products-item__icon img {
  width: 100%;
  height: auto;
}

.products-item__text {
  text-align: center;
  font-size: 20px;
}

/* ============================================= cloth */

.cloth {
  width: 100%;
  background: url(./img/cloth.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 50px;
}

.cloth__text {
  line-height: 1.4;
  padding: 110px 50px;
  max-width: 730px;
  font-size: 24px;
  font-weight: 400;
  background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);
}

.cloth__text p:last-child {
  margin-bottom: 0;
}

/* ============================================= prices */
.products-item__text-prices h3 {
  font-size: 20px;
}

.products-item__text-prices p {
  font-size: 18px;
}

.products-item__text-prices p span {
  color: #FF5000;
}

.prices-item__icon {
  max-width: 290px;
}

/* ============================================= contacts */
.section_contacts {
  background: url(./img/contacts/bg-contacts.png) no-repeat center center;
  background-size: cover;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.contacts-form input {
  margin-bottom: 20px;
  width: 220px;
  border-radius: 110px;
  height: 30px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0 20px;
  font-size: 14px;
  color: #757575;
}

.contacts-form input::placeholder {
  color: #c4c4c4;
}

.contacts-form input:last-child {
  background-color: rgba(0, 0, 0, 0.15);;
  box-shadow: none;
  color: #fff;
  transition: 0.2s;
}

.contacts-form input:last-child:hover {
  background-color: rgba(0, 0, 0, 0.4);;
}

.managers {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
}

.manager {
  text-align: center;
  margin: 0 10px 30px;
}

.manager__foto {
  margin-bottom: 20px;
}

.manager__foto img {

}

.manager a {
  display: block;
}

.manager a:hover {
  color: #000;
}

.manager__name {
  font-weight: 400;
  margin-bottom: 10px;
}

.manager__position {
  font-size: 14px;
  margin-bottom: 0;
}

.manager__phone {
  font-size: 14px;
}

.manager__email {
  color: #FF5000;
  font-size: 14px;
}

/* ===================================================== seo */

/* ===================================================== footer */
.footer {
  background-color: #e1e0e0;
}

.footer_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.footer-nav {
  font-size: 14px;
  margin: 10px 10px 20px;
}

.footer-certificate {
  margin: 10px 10px 20px;
}

.footer-certificate__img {
  width: 60px;
  margin: 0 auto 20px;
}

.footer-certificate__img img {
  display: block;
  width: 100%;
  height: auto;
}

.footer-certificate__text {
  text-align: center;
  font-size: 14px;
}

.footer-certificate__text p {
  margin-bottom: 0;
}

.footer-currency {
  width: 340px;
  height: 100px;
  border: 2px solid #717070;
  margin: 10px 10px 20px;
}
