
/* ============================================================================= ≥1200px */
@media screen and (max-width: 1200px) {

}


/* ============================================================================= ≥992px */
@media screen and (max-width: 992px) {

}


/* ============================================================================= ≥768px */
@media screen and (max-width: 768px) {
    .services__item {
        padding-left: 100px;
        position: relative;
        width: 100%;
        margin-bottom: 50px;
    }
    
    .services__item:nth-child(3) {
        margin-bottom: 50px;
    }
}


/* ============================================================================= ≥576px */
@media screen and (max-width: 576px) {

}
