/* CenturyGothic */
@font-face {
  font-weight: normal;
  font-family: "CenturyGothic";
  font-style: normal;

  src: url("./fonts/CenturyGothic/CenturyGothic.eot?sspal9");
  src: url("./fonts/CenturyGothic/CenturyGothic.eot?sspal9#iefix") format("embedded-opentype"),
    url("./fonts/CenturyGothic/CenturyGothic.ttf?sspal9") format("truetype"),
    url("./fonts/CenturyGothic/CenturyGothic.woff?sspal9") format("woff");
}

/* =================================================== common styles */
body {
  position: relative;

  /* display: flex; */
  /* align-items: center; */

  font-weight: 300;
  font-size: 30px;
  line-height: 1.4;
  font-family: "CenturyGothic", sans-serif;
  color: #4b4c47;
}

@media screen and (max-width: 520px) {
  body {
    font-size: 25px;
    line-height: 1.4;
  }
}

/* wrap and inner */
.section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #d1fd01;
}

.section_bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section_theme_light {
  background-color: #fcfcfc;
}

.section_theme_dark {
  background-color: #234d64;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  padding: 50px 30px;
  margin: 0 15px; 
}

@media screen and (max-width: 520px) {
  .wrap {
    padding: 50px 0;
  }
}

h2 {
  font-size: 50px;
  color: #504e4e;
  font-weight: 300;
  text-align: center;
  text-shadow: -3px 1px 6px #000000;
  margin-bottom: 50px;
}

@media screen and (max-width: 520px) {
  h2 {
    font-size: 40px;
  }
}

/* transition */
.trans,
.trans *,
.trans *::before,
.trans *::after {
  transition: .3s;
}

/* =================================================== header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 500px;
  display: block;
  height: 100%;
  margin-right: 80px;
}

.nav {
  position: relative;
  display: flex;
}

.hamburger {
  z-index: 1000;
}

.menu {
  position: fixed;
  top: 0;
  height: 100%;
  right: 0;
  z-index: 900;
  padding: 120px 30px;
  background-color: rgba(255, 255, 255, 0.801);
  min-width: 300px;
  text-align: center;
  display: none;
  list-style-type: none;
}

.menu li {
  margin-bottom: 30px;
}

.menu a {
  text-decoration: none;
  color: #4b4c47;
}

.menu a:hover {
  text-decoration: none;
  color: #8a9463;
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 300px;
  }
}

@media screen and (max-width: 670px) {
  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 200px;
  }
}


/* =================================================== promo */
.promo-box {
  height: 1100px;
  background-image: url(./img/promo-box.png);
  background-position: center top;
}

@media screen and (max-width: 940px) {
  .promo-box {
    height: 800px;
  }
}

@media screen and (max-width: 700px) {
  .promo-box {
    height: 700px;
  }
}

@media screen and (max-width: 600px) {
  .promo-box {
    height: 500px;
  }
}

@media screen and (max-width: 420px) {
  .promo-box {
    height: 500px;
    background-position: -300px top;
  }
}


/* =================================================== stair-build */
.stair-build {
  background-color: #d1fd01;
}

.stair-build__h2 {}

.stair-build__icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -40px 0;
}

.stair-build__icon-item {
  width: 200px;
  margin: 40px;
}

.stair-build__icon-item img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 520px) {
  .stair-build__icon-item {
    margin: 20px;
  }

  .stair-build__icon-list {
    margin: -20px 0;
  }
}


/* =================================================== text */
.wrap-text {
  /* margin-bottom: -50px; */
}

.text-section {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.text-section:last-child {
  margin-bottom: 0;
}

.text-section__p {
  margin-right: 50px;
}

.text-section__img {
  min-width: 400px;
  height: 500px;
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-section__img_one {
  background-image: url(./img/text/one.jpg);
}

.text-section__img_two {
  background-image: url(./img/text/two.jpg);
}

.text-section__img_three {
  background-image: url(./img/text/three.jpg);
}

@media screen and (max-width: 1000px) {
  .text-section {
    flex-direction: column;
  }

  .text-section__p {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .text-section__img {
    min-width: 100%;
  }
}


/* =================================================== foto-icon */
/* =================================================== foto */
.wrap-foto {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  justify-content: center;
}

.foto {
  width: calc(100% / 4 - 20px);
  margin: 10px;
  transition: .3s;
}

.foto:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px #000000cc;
}

.foto__img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1260px) {
  .wrap-foto {
    margin: -15px;
    overflow: hidden;
  }
}

@media screen and (max-width: 900px) {
  .foto {
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 700px) {
  .foto {
    width: calc(100% / 2 - 20px);
  }
}

@media screen and (max-width: 500px) {
  .foto {
    width: 80%;
  }

  .foto:hover {
    transform: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 400px) {
  .foto {
    width: 100%;
  }
}


/* =================================================== price-icon */
.price-p {
  /* margin-bottom: 40px; */
}

.price-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.price-item {
  margin: 30px;
  width: calc(100% / 3 - 60px);
}

.price-item__img {
  margin-bottom: 30px;
  width: 100%;
}

.price-item__img img {
  width: 100%;
  height: auto;
}

.price-item__p {
  margin-bottom: 0;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .price-item {
    width: calc(100% / 2 - 60px);
  }
}

@media screen and (max-width: 700px) {
  .price-item {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .price-item {
    width: 100%;
  }
}


/* =================================================== contacts */
.contacts {
  display: flex;
  justify-content: center;
}

.contacts-adr {
  max-width: 450px;
  margin-right: 60px;
}

.contacts-adr div {
  padding-left: 60px;
  position: relative;
}

.contacts-adr div::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
}

.contacts-adr__tel::before {
  background: url(./img/contacts/tel.png) no-repeat center;
}

.contacts-adr__mail::before {
  background: url(./img/contacts/mail.png) no-repeat center;
}

.contacts-adr__viber::before {
  background: url(./img/contacts/vib.png) no-repeat center;
}

.contacts-form {
  max-width: 450px;
  font-size: 20px;
}

.contacts-form * {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 20px;
}

[type="file"] {
  padding: 0;
}

[type="submit"] {
  width: 150px;
}

@media screen and (max-width: 950px) {
  .contacts {
    flex-direction: column;
    align-items: center;
  }

  .contacts-adr {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.popup p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  transform: translateX(-50%) translateY(-50%);
}

.popup p::after {
  content: "+";
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  color: grey;
  transform: rotate(45deg);
}

.popup__success {
  display: none;
  color: #155724;
  background-color: #d4edda;
}

.popup__error {
  display: none;
  color: #721c24;
  background-color: #f8d7da;
}

/* =================================================== footer */
.footer {
  padding: 40px 15px 30px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: #585858;
}